.section01 .container {
  
  margin: 0 auto !important;
  display: block;
}

.PointerHighlight {
  font-size: 30px;
  width: 600px;
  margin: 50px auto;
  
}
.PointerHighlight span{
 display: flex;
}

.section02 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.waves {

}